.splash {
  background-color: black;
}

.app-logo {
  color: #DB202C;
}

.login-link {
  color: white;
  background-color: #e50914;
}

.splash-body {
  color: white;
}

.splash-body > form > label {
  color: grey;
}

.signup-link {
  background-color: #DB202C;
  color: white;
}