.splash {
  background-color: black;
}

.app-logo {
  color: #DB202C;
}

.login-link-btn {
  color: white;
  background-color: #e50914;
}

.splash-top {
  background-color: rgba(0,0,0,0.6);
}

.splash-body {
  color: white;
}

.splash-body > label {
  color: grey;
}

.signup-link {
  background-color: #DB202C;
  color: white;
}

.signup-link:hover {
  background-color: #e50914;
}