html {
  background-color: rgb(23, 23, 23);
}

input:focus{
    outline: none;
}

.app-logo {
  color: #DB202C;
}

.login-link-btn {
  color: white;
  background-color: #e50914;
}

// Splash
.splash {
  background-color: black;
}

.splash-top {
  background-color: rgba(0,0,0,0.6);
}

.splash-body {
  color: white;
}

.splash-body > label {
  color: grey;
}

.signup-link {
  background-color: #DB202C;
  color: white;
}

.signup-link:hover {
  background-color: #e50914;
}

.demo-btn {
  color: white;
  background-color: #e50914;
}

// Signup
.signup {
  background-color: white;
}

.signup > header {
  border-bottom: 1px solid lightgray;
}

.login-link {
  color: black;
}

.signup-form > label {
  color: grey;
}

.signup-form > input {
  border: 1px solid grey;
}

.signup-email-error {
  background-color: orange;
  color: white;
}

.signup-email-error * a {
  color: white;
}

.signup-password-error {
  color: firebrick;
}

// Signin Page
.signin-wrapper {
  background-color: rgba(0,0,0,0.6);
}

.signin-body {
  background-color: rgba(0,0,0,0.8);
}

.signin-body > h2 {
  color: white;
}

.signup-now-link {
  color: white;
}

.signin-form > label {
  color: grey;
}

.signin-form > input {
  background-color: rgb(56, 56, 56);
  color: white;
}

.signin-form > .signin-btn {
  background-color: #DB202C;
  color: white;
}

.signup-now > p {
  color: grey;
}

.signin-error {
  background-color: rgb(235, 128, 14);
  color: white;
}

.signin-error > a {
  color: white;
}

.signin-form > .demo-btn {
  background-color: #DB202C;
}

// Browse page
.browse > header {
  background-color: rgb(23, 23, 23);
}

.navbar-links a {
  color: white;
}

.navbar-links a:hover {
  color: rgb(189, 189, 189);
}

.logout-dropdown > div {
  background-color: rgba(0,0,0,0.9);
  border: 1px solid grey;
}

.logout-link {
  color: white;
}

.browse-icon > span {
  color: white;
}

.logout-dropdown > span {
  color: white;
}

.browse {
  background-color: rgb(23, 23, 23);
}

.browse-body {
  background-color: rgb(23, 23, 23);
  color: white;
}

.genre-menu-title {
  background-color: black;
  border: 1px solid white;
}

.genre-dropdown {
  background-color: rgba(0,0,0,0.8);
  border: 2px solid red;
}

.genre-dropdown a {
  color: white;
}

#bb-rating {
  background-color: rgba(65, 65, 65, 0.6);
  border-left: 3px solid white;
}

.browse-genre-rows {
  background-image: linear-gradient(to bottom, rgba(23,23,23,0), rgba(23,23,23,1) 12%);
}

// Carousel
.slide-arrow-left {
  color: transparent;

    &:hover {
      color: white;
      background-color: rgba(0,0,0,0.7);
    }
}

.slide-arrow-left[slide='1'], .slide-arrow-left[slide='2']{
  background-color: rgba(0,0,0,0.6);
}

.slide-arrow-right {
  color: transparent;

    &:hover {
      color: white;
      background-color: rgba(0,0,0,0.7);
    }
}

.slide-arrow-right[slide='0'], .slide-arrow-right[slide='1']{
  background-color: rgba(0,0,0,0.6);
}

.slider-item {
  background-color: rgb(23, 23, 23);
}

.item-play-btn:hover .play-circle {
  color: rgb(214, 214, 214);
}

.my-list-btn:hover {
  color: rgb(214, 214, 214);
}

.item-play-btn .play-arrow {
  color: rgb(23, 23, 23);
}

// My List

.my-list {
  background-color: rgb(23, 23, 23);
}

.my-list > header {
  background-color: rgb(23, 23, 23);
}

.my-list-body {
  color: white;
  background-color: rgb(23, 23, 23);
}

.my-list-item {
  background-color: rgb(23, 23, 23);
}

// Genre Page

.genre-page {
  background-color: rgb(23, 23, 23);
}

.genre-page > header {
  background-color: rgb(23, 23, 23);
}

.genre-body {
  color: white;
  background-color: rgb(23, 23, 23);
}

.genre-item {
  background-color: rgb(23, 23, 23);
}

.my-list-body > p {
  color: grey;
}