div {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

.app-logo {
  font-size: 30px;
}


// Splash page
.login-link-btn {
  text-align: center;
  line-height: 2.3;
}

.demo-btn {
  text-align: center;
  line-height: 2.3;
  cursor: pointer;
}

.splash-body > h1 {
  font-size: 4rem;
  font-weight: bold;
  overflow-wrap: normal;
  text-align: center;
  line-height: normal;
}

.splash-body > h2 {
  font-size: 30px;
  text-align: center;
}

.splash-body > h3 {
  font-size: 20px;
  text-align: center;
}

.splash-body > label {
  font-size: 14px;
}

.splash-input {
  font-size: 20px;
}

.splash * .signup-link {
  text-align: center;
  font-size: 30px;
  line-height: 2.3;
}

// Signup page
.login-link {
  font-size: 20px;
  font-weight: bolder;
}

.login-link:hover {
  text-decoration: underline;
}

.signup-body > h2 {
  font-size: 25px;
  font-weight: 800;
  line-height: 1.5;
} 

.signup-body > p {
  font-size: 20px;
}

.signup * .signup-link {
  font-size: 18px;
  text-align: center;
  line-height: 3;
  font-weight: 100;
}

.signup-form > label {
  font-size: 14px;
}

.signup-form > input {
  font-size: 20px;
}

.signup-email-error * a {
  text-decoration: underline;
}

.signup-email-error > span {
  font-size: 40px;
}

.signup-password-error {
  font-size: 13px;
}

.signup-link{
  cursor: pointer;
}

// Signin Page
.signin-body > h2 {
  font-size: 35px;
}

.signin-form > .signin-btn {
  padding-left: 0;
  text-align: center;
  line-height: 2.5;
}

.signup-now-link:hover {
  text-decoration: underline;
}

.signin-form > label {
  font-size: 12px;
}

.signin-form > input {
  font-size: 18px;
}

.signin-error {
  font-size: 14px;
}

.signin-error > a {
  text-decoration: underline;
}

.signin-btn:hover {
  cursor: pointer;
}

.signin-form > .demo-btn {
  line-height: 3;
}