html{
  min-height:100%;
  position:relative;
}
body{
  height:100%;
}

input {
  padding-left: 20px;
}

footer {
  height: 150px;
}

.app {
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  height: 100%;
}

// Splash page
.splash {
  overflow: hidden;
  height: 100%;
}

.splashbg {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
}

.splash-top {
  width: 100%;
  position: relative;
  z-index: 2;
}

.splash-header {
  width: 95%;
  margin: 20px;
}

.splash-logo {
  position: absolute;
  top: 1rem;
  left: 4rem;
}

.login-link-btn {
  position: absolute;
  right: 3.5rem;
  border-radius: 3px;
  margin: 0.5rem;
  height: 34px;
  width: 84px;
}

.splash-header > .demo-btn {
  position: absolute;
  right: 10rem;
  border-radius: 3px;
  margin: 0.5rem;
  height: 34px;
  width: 114px;
}

.splash-body {
  margin: 100px;
  max-width: 800px;
}

.splash-body > h1 {
  margin: 10px;
}

.splash-body > h2 {
  margin: 25px;
}

.splash-body > h3 {
  margin: 30px;
}

.splash-body > label {
  z-index: 1;
  position: relative;
  top: 1.5rem;
  left: 0.8rem;
  width: 100px;
}

.splash-input {
  width: 550px;
}

.splash * .signup-link {
  border-radius: 1px;
  height: 75px;
  width: 250px;
}

// Signup page

.signup {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.signup > header {
  width: 100%;
  height: 80px;
  padding: 15px;
}

.logo-signup-link {
  position: absolute;
  top: 1rem;
  left: 4rem;
}

.login-link {
  position: absolute;
  top: 3rem;
  right: 4rem;
} 

.signup-body {
  margin: 45px;
  width: 470px;
}

.signup-body > h2 {
  margin-top: 45px;
  margin-bottom: 10px;
}

.signup-body > p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.signup-form > input {
  height: 55px;
  border-radius: 2px;
}

.signup * .signup-link {
  border-radius: 2px;
  height: 55px;
  margin-top: 25px;
}

.email-label {
  position: relative;
  top: 1.2rem;
  left: 0.5rem;
}

.password-label {
  position: relative;
  top: 1.2rem;
  left: 0.5rem;
}

.signup-email-error {
  height: 80px;
  border-radius: 2px;
}

.signup-email-error > span {
  margin: 18px;
}

.signup-password-error {
  margin-top: 3px;
}

.signup-email-error * p, .signup-email-error * a {
  margin: 3px;
}

// Signin page
.signin {
  height: 100%;
}

.signin-wrapper {
  width: 100%;
  position: relative;
  z-index: 2;
}

.signin-body {
  position: relative;
  top: 8rem;
  width: 330px;
  padding: 60px;
  border-radius: 4px;
}

.signin-body > h2 {
  margin-bottom: 25px;
}

.signin * .logo-signup-link {
  position: absolute;
  top: 1rem;
  left: 4rem;
}

.signin-form > input {
  height: 50px;
  border-radius: 4px;
  border: none;
  margin-bottom: 5px;
}

.signin-form > label {
  position: relative;
  top: 1rem;
  left: 1.2rem;
}

.signin-form > .signin-btn {
  height: 50px;
  border-radius: 4px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.signin-form > .demo-btn {
  height: 50px;
  border-radius: 4px;
  margin-bottom: 40px;
}

.signup-now-link {
  margin-left: 6px;
  margin-bottom: 70px;
}

.signin-error {
  height: 70px;
  border-radius: 4px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 25px;
}

.signin-error > p, .signin-error > a {
  margin-right: 4px;
  margin-top: 2px;
  margin-bottom: 2px;
}

// Navbar
.navbar {
  position: fixed;
  width: 100%;
  height: 69px;
  z-index: 5;
}

.logo-browse-link {
  position: relative;
  top: 0.5rem;
  left: 3.3rem;
}

.navbar-links {
  position: relative;
  left: 6rem;
}

.navbar-links a {
  margin-right: 1.5rem;
}

.browse-icon {
  position: absolute;
  top: 1rem;
  right: 5rem;
}

.browse-icon > span {
  position: relative;
  top: -0.6rem;
  right: -0.4rem;
}

.profilepic {
  height: 35px;
  width: auto;
  border-radius: 4px;
}

.logout-dropdown {
  position: absolute;
  top: 2rem;
  right: -0.5rem;
}

.logout-dropdown > div {
  width: 122px;
  padding: 10px;
  border-radius: 1px;
}

.logout-dropdown > span {
  position: relative;
  left: 6.3rem;
  top: 0.4rem;
}

.search-box {
  position: absolute;
  top: 1.2rem;
  right: 9rem;
  height: 2rem;
  width: 17rem;
}

.search-box > p {
  margin-right: 0.5rem;
}

.search-bar {
  height: 100%;
  width: 100%;
}

.search-bar > p {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.search-bar > input {
  padding: 0;
  width: 100%;
  height: 70%;
}

// Browse page
.browse {
  height: 100%;
}

.browse-body {
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1;
}

.genre-title-box {
  position: relative;
  top: 6rem;
  margin-left: 4rem;
}

.genre-title-box p {
  margin-right: 0.8rem;
}

.browse-title {
  position: relative;
  z-index: 4;
  top: 5rem;
  left: 4rem;
}

.genre-menu {
  position: relative;
  margin-left: 3rem;
  width: 7rem;
}

.genre-menu-title {
  width: 7rem;
  padding: 0.5rem;
  cursor: pointer;
}

.genre-menu-title p:first-of-type {
  margin-right: 2rem;
}

.genre-dropdown {
  position: absolute;
  cursor: pointer;
}

.browse-genre-list {
  padding: 0.5rem;
  height: 7.5rem;
  width: 9.4rem;
}

.browse-genre-list a:hover {
  text-decoration: underline;
}

.billboard {
  position: relative;
  top: -6.4rem;
}

.billboard > video {
  position: relative;
  width: 100%;
  height: auto;
  z-index: 2;
}

.browse-title-box {
  position: absolute;
  top: 45%;
  left: 3rem;
  width: 35%;
  z-index: 3;
}

.browse-rating-box {
  position: absolute;
  top: 65%;
  left: 87%;
  z-index: 3;
}

#bb-rating {
  padding-left: 1rem;
  padding-right: 7rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

.billboard-mute-btn {
  margin-right: 2rem;
}

.browse-genre-rows {
  bottom: 35%;
  position: relative;
  z-index: 3;
  height: 75%;
}

.browse-row > h2 {
  margin-left: 60px;
  margin-bottom: 1.5%;
}

// Carousel

.slide-arrow-left {
  width: 55px;
  position: absolute;
  text-align: center;
  left: 0;
  border-radius: 4px;
  z-index: 4;
}

.slide-arrow-right {
  width: 55px;
  position: absolute;
  text-align: center;
  right: 0;
  border-radius: 4px;
  z-index: 4;
}

.slider-item {
  position: relative;
  margin: 2px;
  border-radius: 5px;
  transition: 500ms all;
  transition-delay: 0ms;
  
  &:hover {
    position: relative;
    transform: scale(1.4) translateY(-25px);
    transition-delay: 500ms;
    box-shadow: 0px 0px 10px 1px black;
    z-index: 3;
  }
}

.slider-item > img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.slider-item-info {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.item-rating {
  width: fit-content;
  margin-left: 0.7rem;
  margin-bottom: 0.4rem;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  padding-bottom: 0.1rem;
  border: 0.1px solid white;
}

.item-genre {
  margin-left: 0.7rem;
}

.slider-item:hover .slider-item-info {
  transform: scale(1);
  transition-delay: 500ms;
  position: relative;
  top: -1px;
}

.slider-video-wrap {
  position: absolute;
  display: none;
}

.slider-item:hover .slider-video-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-title-play {
  align-items: center;
}

.item-title-play p {
  margin-left: 0.6rem;
}

.item-genre li {
  margin-right: 0.4rem;
}

.browse-row:last-of-type {
  padding-bottom: 3rem;
}

@media screen and (min-width: 1441px) {
  .slide-arrow-left {
    height: 175px;
    line-height: 2;
  }

  .slide-arrow-right {
    height: 175px;
    line-height: 2;
  }

  .slider-video-wrap > video {
    max-height: 170px;
    max-width: 295px;
  }

  .slider-video-wrap {
    height: 170px;
    width: 295px;
  }

  .item-play-btn .play-arrow {
    position: relative;
    left: 0.75rem;
    top: -1.15rem;
  }

  .item-play-btn {
    margin-top: 0.7rem;
    margin-right: 0.7rem;
  }

  .item-rating {
    padding-top: 0.1rem;
  }
}

@media screen and (max-width: 1440px) {
  .item-title-play > p {
    margin-top: 0.3rem;
    margin-right: 0.5rem;
  }

  .slide-arrow-left {
    height: 125px;
    line-height: 1.5;
  }

  .slide-arrow-right {
    height: 125px;
    line-height: 1.5;
  }

  .slider-item {
    width: 215px;
  }

  .slider-video-wrap > video {
    max-height: 125px;
    max-width: 215px;
  }

  .slider-video-wrap {
    height: 125px;
    width: 215px;
  }

  .item-play-btn .play-arrow {
    position: relative;
    left: 0.55rem;
    top: -0.8rem;
  }

  .item-play-btn {
    position: relative;
    top: 0.5rem;
    right: 1.3rem;
  }

  .my-list-btn {
    position: relative;
    bottom: 0.05rem;
    right: 0.8rem;
  }

  .item-buttons {
    padding: 0;
    width: 55px;
    height: 40px;
  }

  .item-details {
    margin-top: 0.3rem;
  }

  .item-rating {
    padding-top: 0.2rem;
  }
}

// My List

.my-list {
  height: 100%;
}

.my-list-body {
  top: 5rem;
  position: relative;
  z-index: 3;
  height: 100%;
}

.my-list-body > h1 {
  margin-left: 4rem;
}

.my-list-body > p {
  margin-top: 12rem;
}

.my-list-list {
  margin-top: 5rem;
  padding-bottom: 69px;
}

.my-list-item {
  position: relative;
  height: 250px;
  width: 295px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 5px;
  transition: 500ms all;
  transition-delay: 0ms;
  
  &:hover {
      position: relative;
      transform: scale(1.6) translateY(-25px);
      transition-delay: 500ms;
      box-shadow: 0px 0px 10px 1px black;
      z-index: 3;
    }
}

.my-list-item > img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.my-list-video-wrap {
  position: absolute;
  display: none;
}

.my-list-item:hover .my-list-video-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-list-video-wrap > video {
  max-height: 170px;
  max-width: 295px;
}

.my-list-video-wrap {
  height: 170px;
  width: 295px;
}

.my-list-item-info {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.my-list-item:hover .my-list-item-info {
  transform: scale(1);
  transition-delay: 500ms;
  position: relative;
}

// Genre Page

.genre-page {
  height: 100%;
}

.genre-list {
  top: 8rem;
  position: relative;
  z-index: 3;
  height: 100%;
  padding: 69px;
}

.genre-item {
  position: relative;
  height: 250px;
  width: 295px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 5px;
  transition: 500ms all;
  transition-delay: 0ms;
  
  &:hover {
      position: relative;
      transform: scale(1.6) translateY(-25px);
      transition-delay: 500ms;
      box-shadow: 0px 0px 10px 1px black;
      z-index: 3;
    }
}

.genre-item > img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.genre-video-wrap {
  position: absolute;
  display: none;
}

.genre-item:hover .genre-video-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.genre-video-wrap > video {
  max-height: 170px;
  max-width: 295px;
}

.genre-video-wrap {
  height: 170px;
  width: 295px;
}

.genre-item-info {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.genre-item:hover .genre-item-info {
  transform: scale(1);
  transition-delay: 500ms;
  position: relative;
}

// Search Page

.search-list {
  top: 8rem;
  position: relative;
  z-index: 3;
  height: 100%;
  padding: 69px;
}

// Watch Page

#videoContainer {
  height: 100%;
  width: auto;
}

.back-box {
  position: absolute;
  height: 50%;
  width: 30%;
}

.back-btn {
  width: 60%;
  height: 20%;
  margin-top: 5%;
  margin-left: 5%;
}

.back-arrow {
  margin-left: 10%;
}

.back-msg {
  margin-left: 5%;
}

.controls-box {
  position: absolute;
  width: 99.5%;
  height: 20%;
  bottom: 0px;
}

#video {
  position: relative;
  z-index: -1;
}

.controls {
  position: absolute;
  width: 100%;
  bottom: 0px;
}

#control-buttons {
  width: 100%;
}

#control-buttons div {
  margin-top: 0.5%;
  margin-bottom: 0.5%;
}

.progress {
  width: 100%;
}

progress[value] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 10px;
}

#progress {
  width: 90%;
  margin-left: 2%;
}

#timer {
  margin-left: 1%;
}

.cb-left {
  width: 95%;
}

#playpause {
  margin-left: 4%;
  &:hover {
    cursor: pointer;
    transform: scale(1.3);
  }
}

#mute {
  margin-left: 4%;
  &:hover {
    cursor: pointer;
    transform: scale(1.3);
  }
}

#watch-movie-title {
  margin-left: 6%;
}

#fs {
  margin-right: 4%;
  line-height: 2;
  &:hover {
    cursor: pointer;
    transform: scale(1.2);
  }
}