@media screen and (min-width: 1441px) {
  .slider-wrap[slide='0'] {
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    transform: translate(112.1rem);
  }
  
  .slider-wrap[slide='1'] {
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    transform: translate(0rem)
  }
  
  .slider-wrap[slide='2'] {
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    transform: translate(-112.1rem)
  }
}

@media screen and (max-width: 1440px) {
  .slider-wrap[slide='0'] {
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    transform: translate(82.1rem);
  }
  
  .slider-wrap[slide='1'] {
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    transform: translate(0rem)
  }
  
  .slider-wrap[slide='2'] {
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    transform: translate(-82.1rem)
  }
}

.loader {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  border: 16px solid rgb(128,128,128);
  border-top: 16px solid #e50914;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  z-index: -2;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}