// Splash Page
.splash {
  display: flex;
}

.splash-top {
  display: flex;
}

.splash-header {
  display: flex;
}

.splash-body > form {
  display: flex;
}

// Signup Page
.signup {
  display: flex;
}

.signup > header {
  display: flex;
}

.signup-form {
  display: flex;
}

.signup-email-error {
  display: flex;
}

.signup-email-error > div {
  display: flex;
}

// Signin Page
.signin {
  display: flex;
}

.signin-wrapper {
  display: flex;
}

.signin-form {
  display: flex;
}

.signin-body {
  display: flex;
}

.signup-now {
  display: flex;
}

.signin-error {
  display: flex;
}

// Browse page
.browse {
  display: flex;
}

.browse > header {
  display: flex;
}

.logout-dropdown {
  display: none;
}

.browse-icon:hover {
  cursor: pointer;
}

.browse-icon:hover .logout-dropdown {
  display: block;
}

.browse-genre-rows {
  display: flex;
}

// .slider {
//   display: flex;
// }

// .slider > section {
//   display: flex;
// }