// Splash Page
.splash {
  display: flex;
}

.splash-top {
  display: flex;
}

.splash-header {
  display: flex;
}

.splash-body > form {
  display: flex;
}

.demo-btn {
  cursor: pointer;
}

// Signup Page
.signup {
  display: flex;
}

.signup > header {
  display: flex;
}

.signup-form {
  display: flex;
}

.signup-email-error {
  display: flex;
}

.signup-email-error > div {
  display: flex;
}

.signup-link{
  cursor: pointer;
}

// Signin Page
.signin {
  display: flex;
}

.signin-wrapper {
  display: flex;
}

.signin-form {
  display: flex;
}

.signin-body {
  display: flex;
}

.signup-now {
  display: flex;
}

.signin-error {
  display: flex;
}

.signin-btn:hover {
  cursor: pointer;
}

// Navbar
.navbar {
  display: flex;
}

.search-box {
  display: flex;
}

.search-bar {
  display: flex;
}

.search-box > p:hover {
  cursor: pointer;
}

.search-bar > p:hover {
  cursor: pointer;
}

.navbar-links {
  display: flex;
}

.logout-dropdown {
  display: none;
}

.dropdown-list {
  display: flex;
  flex-direction: column;
}

.browse-icon:hover {
  cursor: pointer;
}

.browse-icon:hover .logout-dropdown {
  display: block;
}

// Browse page

.browse {
  display: flex;
}

.browse-title {
  display: flex;
}

.genre-title-box {
  display: flex;
}

.genre-menu:hover .genre-dropdown {
  display: block;
}

.genre-menu-title {
  display: flex;
}

.genre-dropdown {
  display: none;
}

.browse-genre-list {
  display: flex;
}

.browse-title-box {
  display: flex;
}

.browse-rating-box {
  display: flex;
}

.billboard-mute-btn {
  cursor: pointer;
}

.browse-genre-rows {
  display: flex;
}

// Carousel
.carousel {
  display: flex;
}

.slider-wrap {
  display: flex;
}

.slide-arrow-left {
  cursor: pointer;
}

.slide-arrow-right {
  cursor: pointer;
}

.slider-item {
  display: flex;
  cursor: pointer;
}

.slider-item .slider-item-info {
  display: flex;
  visibility: hidden;
}

.slider-item:hover .slider-item-info {
  visibility: visible;
}

.item-title-play {
  display: flex;
}

.item-buttons {
  display: flex;
}

.item-details {
  display: flex;
}

.item-genre {
  display: flex;
}

// My List

.my-list {
  display: flex;
}

.my-list-body {
  display: flex;
}

.my-list-list {
  display: flex;
}

.my-list-item {
  display: flex;
  cursor: pointer;
}

.my-list-item .my-list-item-info {
  display: flex;
  visibility: hidden;
}

.my-list-item:hover .my-list-item-info {
  visibility: visible;
}

// Genre Page
.genre-page {
  display: flex;
}

.genre-body {
  display: flex;
}

.genre-list {
  display: flex;
}

.genre-item {
  display: flex;
  cursor: pointer;
}

.genre-item .genre-item-info {
  display: flex;
  visibility: hidden;
}

.genre-item:hover .genre-item-info {
  visibility: visible;
}

// Search Page

.search-list {
  display: flex;
}

// Watch Page

#videoContainer {
  display: flex;
}

.back-box {
  display: flex;
}

.back-btn {
  display: none;
  &:hover {
    cursor: pointer;
  }
}

.back-msg {
  display: none;
}

.back-box:hover .back-btn {
  display: flex;
}

.back-btn:hover .back-msg {
  display: flex;
}

.controls {
  display: none;
}

.controls-box:hover .controls {
  display: flex;
}

.progress {
  display: flex;
}

.progress:hover {
  cursor: pointer;
}

#control-buttons {
  display: flex;
}

.cb-left {
  display: flex;
}