.splash {
  display: flex;
}

.splash-top {
  display: flex;
}

.splash-header {
  display: flex;
}

.splash-body > form {
  display: flex;
}

.signup {
  display: flex;
}

.signup > header {
  display: flex;
}

.signup-form {
  display: flex;
}