// Splash page
.splash-top {
  flex-direction: column;
  align-items: center;
}

.splash-header {
  justify-content: space-between;
}

.splash-body > form {
  justify-content: center;
}

.signup-email-error {
  align-items: center;
}

.signup-email-error > div {
  flex-wrap: wrap;
  align-content: center;
}

// Signup page
.signup {
  flex-direction: column;
  align-items: center;
}

.signup > header {
  justify-content: space-between;
}

.signup-body {
  justify-content: flex-start;
}

.signup-form {
  flex-direction: column;
}

// Signin page
.signin-wrapper {
  flex-direction: column;
  align-items: center;
}

.signin-body {
  flex-direction: column;
}

.signin-form {
  flex-direction: column;
}

.signin-error {
  justify-content: flex-start;
  align-content: center;
  flex-wrap: wrap;
}

// Browse page
.browse {
  flex-direction: column;
}

.navbar-links {
  align-items: center;
}

.browse-title {
  align-items: center;
}

.genre-menu-title {
  align-items: center;
}

.browse-genre-list {
  flex-direction: column;
  flex-wrap: wrap;
}

.browse-genre-rows {
  flex-direction: column;
}


// Carousel
.carousel {
  flex-direction: row;
  justify-content: center;
}

.slider-wrap {
  flex-direction: row;
}

.slider-item {
  flex-direction: column;
}

.slider-item-info {
  flex-direction: column;
}

.item-title-play {
  justify-content: space-between;
  align-items: center;
}

.item-details {
  justify-content: space-between;
}

// My List

.my-list {
  flex-direction: column;
}

.my-list-body {
  flex-direction: column;
}

.my-list-list {
  flex-wrap: wrap;
  justify-content: center;
}

.my-list-item {
  flex-direction: column;
}

.my-list-item-info {
  flex-direction: column;
}

// Genre Page

.genre-page {
  flex-direction: column;
}

.genre-body {
  flex-direction: column;
}

.genre-list {
  flex-wrap: wrap;
  justify-content: center;
}

.genre-item {
  flex-direction: column;
}

.genre-item-info {
  flex-direction: column;
}