// Splash page
.splash-top {
  flex-direction: column;
  align-items: center;
}

.splash-header {
  justify-content: space-between;
}

.splash-body > form {
  justify-content: center;
}

.signup-email-error {
  align-items: center;
}

.signup-email-error > div {
  flex-wrap: wrap;
  align-content: center;
}

// Signup page
.signup {
  flex-direction: column;
  align-items: center;
}

.signup > header {
  justify-content: space-between;
}

.signup-body {
  justify-content: flex-start;
}

.signup-form {
  flex-direction: column;
}

// Signin page
.signin-wrapper {
  flex-direction: column;
  align-items: center;
}

.signin-body {
  flex-direction: column;
}

.signin-form {
  flex-direction: column;
}

.signin-error {
  justify-content: flex-start;
  align-content: center;
  flex-wrap: wrap;
}

// Navbar
.search-box {
  align-items: center;
  justify-content: flex-end;
}

.search-bar {
  align-items: center;
  justify-content: flex-start;
}

// Browse page
.browse {
  flex-direction: column;
}

.navbar-links {
  align-items: center;
}

.browse-title {
  align-items: flex-start;
}

.browse-title-box {
  flex-direction: column;
}

.browse-rating-box {
  align-items: center;
}

.browse-genre-list {
  flex-direction: column;
  flex-wrap: wrap;
}

.browse-genre-rows {
  flex-direction: column;
}

// Carousel
.carousel {
  flex-direction: row;
  justify-content: center;
}

.slider-wrap {
  flex-direction: row;
}

.slider-item {
  flex-direction: column;
}

.slider-item-info {
  flex-direction: column;
}

.item-title-play {
  justify-content: space-between;
  align-items: center;
}

.item-details {
  justify-content: space-between;
}

@media screen and (max-width: 1440px) {
  .item-genre {
    flex-wrap: wrap;
    align-items: center;
  }
}

// My List

.my-list {
  flex-direction: column;
}

.my-list-body {
  flex-direction: column;
}

.my-list-list {
  flex-wrap: wrap;
  justify-content: center;
}

.my-list-item {
  flex-direction: column;
}

.my-list-item-info {
  flex-direction: column;
}

// Genre Page

.genre-page {
  flex-direction: column;
}

.genre-body {
  flex-direction: column;
}

.genre-menu-title {
  align-items: center;
}

.genre-title-box {
  align-items: center;
}

.genre-list {
  flex-wrap: wrap;
  justify-content: center;
}

.genre-item {
  flex-direction: column;
}

.genre-item-info {
  flex-direction: column;
}

// Search Page

.search-list {
  flex-wrap: wrap;
  justify-content: center;
}

// Watch Page

#videoContainer {
  flex-direction: column;
}

.back-btn {
  align-items: center;
}

.progress {
  align-items: center;
}

.controls-box {
  align-items: flex-end;
}

.controls {
  flex-direction: column;
  align-items: center;
  align-self: center;
}

#control-buttons {
  justify-content: space-between;
}

.cb-left {
  align-items: center;
}