// Splash page
.splash-top {
  flex-direction: column;
  align-items: center;
}

.splash-header {
  justify-content: space-between;
}

.splash-body > form {
  justify-content: center;
}

.signup-email-error {
  align-items: center;
}

.signup-email-error > div {
  flex-wrap: wrap;
  align-content: center;
}

// Signup page
.signup {
  flex-direction: column;
  align-items: center;
}

.signup > header {
  justify-content: space-between;
}

.signup-body {
  justify-content: flex-start;
}

.signup-form {
  flex-direction: column;
}

// Signin page
.signin-wrapper {
  flex-direction: column;
  align-items: center;
}

.signin-body {
  flex-direction: column;
}

.signin-form {
  flex-direction: column;
}

.signin-error {
  justify-content: flex-start;
  align-content: center;
  flex-wrap: wrap;
}

// Browse page
.browse {
  flex-direction: column;
}

.browse-genre-rows {
  flex-direction: column;
}