.splash-header {
  width: 95%;
  margin: 20px;
}

.login-link {
  border-radius: 3px;
  margin: 0.5rem;
  height: 34px;
  width: 84px;
}

.splash-body {
  margin: 100px;
}

.splash-body > h1 {
  margin: 10px;
}

.splash-body > h2 {
  margin: 25px;
}

.splash-body > h3 {
  margin: 30px;
}

.signup-link {
  border-radius: 3px;
  margin: 0.5rem;
  height: 34px;
  width: 84px;
}